.quizzes-container {
    padding: 2rem;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    text-align: center;
}

.quizzes-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

.quizzes-container span {
    font-size: 15px;
}

.quiz-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.quiz-options button,
.back-button {
    background-color: #7C3AED;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.quiz-options button:hover,
.back-button:hover {
    background-color: #9f58ff;
}

.back-button {
    margin: 1rem 0;
}

.quizzes {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.quizzes a {
    background-color: #fff;
    font-weight: bold;
    color: #000;
    padding: 5px;
    width: 80%;
    border-radius: 8px;
    margin: auto;
}