.loginPage {
    min-height: 100vh;
    background-color: #000;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0 0 0px white);
    }

    50% {
        filter: drop-shadow(0 0 10px white);
    }

    100% {
        filter: drop-shadow(0 0 0px white);
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.furia-logo {
    height: 100px;
    margin-bottom: 10px;
    animation: pulse 2s infinite;
}

.app-name {
    height: 40px;
}

.loginPage a {
    color: #7C3AED;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.loginPage span {
    font-size: 14px;
}

.loginPage span a {
    margin-left: 5px;
}

.loginPage a:hover {
    text-decoration: underline;
}