.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.not-found h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #FF003C;
}

.not-found p {
    font-size: 1rem;
    color: #9CA3AF;
    margin-bottom: 2rem;
}

.back-home {
    background-color: #7C3AED;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-home:hover {
    background-color: #5B21B6;
}

/* Estilos para DesktopWarning */
.desktop-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1A1A1A;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.desktop-warning h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #7C3AED;
}

.desktop-warning p {
    font-size: 1rem;
    color: #9CA3AF;
    margin-bottom: 1rem;
}

.desktop-warning strong {
    color: #FFFFFF;
}

/* botão de chatbot */
.chatbot-btn {
    background-color: #7C3AED; 
    border: none;
    border-radius: 50%; 
    padding: 5px 8px;
    box-shadow: 0 4px 12px rgba(124, 58, 237, 0.5); 
    position: fixed;
    bottom: 90px; 
    right: 20px; 
    z-index: 1000; 
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s;
    align-items: center;
    justify-content: center;
}

.chatbot-btn:hover {
    background-color: #5B21B6; 
    transform: scale(1.05); 
}

.chatbot-btn img {
    height: 28px;
    width: 28px;
    transform: translateY(5%);
}